* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

#headerContainer {
    margin: 0 auto;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 100px;
    border: 50px solid rgb(2, 2, 56);
}

#mainHeader {
    background-color: rgb(2, 2, 56);
}

h1 {
    font-style: bold;
    font-size: 30px;
    color: white;
    text-align: center; 
}

#searchContainer {
    margin: auto 0;
    margin-left: 350px;
    margin-right: 350px;
    border: solid 1px gray;
    border-radius: 20px;
}

#searchHeader {
    background-color: rgb(2, 2, 56);
    color: white;
    margin-bottom: 10px;
    border: solid 15px rgb(2, 2, 56);
    
}

#searchParam {
    padding: 15px;
}


input[type="text"],
input[list="numbers"],
input[type="number"] {
    display:block;
    width: 100%;
    margin-bottom: 15px;
    font-weight: bold;
}



#articleContainer {
    margin: auto 0;
}

#articleHeader {

}